@model MVC_Testbed.ViewModels.DistilleryDetails

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Distillery</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Distillery.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Distillery.Name)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            Bourbons
        </dt>
        <dd>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Rating</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var b in Model.Bourbons)
                    {
                        <tr>
                            <td>@Html.ActionLink(b.Bourbon.Name, "Details", "Bourbons", new { b.Bourbon.Id }, null)</td>
                            <td>@Html.DisplayFor(modelItem => b.Rating)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Distillery.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
